#login-form-container {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  min-width: 660px;
  min-height: auto;
  z-index: 1;
}

#login-form-container>#login-container-bg {
  background: rgba(58, 78, 147, 0.90);
}

.form-group>label {
  font-size: 1.3rem;
}
